.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.paragraphL {
  min-height: 1vw;
  font-size: clamp(1rem, (0.9274rem + 0.3226vw), 1.125rem);
  line-height: 1.9;
  padding-left: 10%;
  padding-right: 0;
}

.paragraphR {
  min-height: 1vw;
  font-size: clamp(1rem, (0.9274rem + 0.3226vw), 1.125rem);
  line-height: 1.9;
  padding-left: 0;
  padding-right: 10%;
}

.headingBox {
  padding-left: 5%;
  padding-top: 25px;
  margin-bottom: 25px;
}

.heading {
  min-height: 1vw;
  font-size: clamp(1.5rem, (1.3548rem + 0.6452vw), 1.75rem);
}

@media (max-width: 755px) {
  .container {
    grid-template-columns: 1fr;
  }

  .paragraphL,
  .paragraphR {
    padding-left: 5%;
    padding-right: 5%;
  }

  .paragraphL {
    margin-bottom: 25px;
  }
}
