.mainContainer {
  margin-top: 100px;
}

.container {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: center;
}

.leftBox {
  padding: 2%;
  width: 50%;
  flex-direction: column;
  text-align: left;
}

.rightBox {
  padding: 2%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.paragraph {
  font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
  line-height: 1.5;
}

@media (max-width: 1300px) {
  .container {
    display: block;
  }

  .leftBox {
    width: 100%;
  }
  .rightBox {
    padding-top: 10%;
    width: 100%;
    justify-content: center;
  }
  .cauldronBox {
    height: 250px;
    width: 250px;
  }
}
