.mainContainer {
  padding-top: 15px;
  margin-top: 100px;
  /* position: relative; */
  background-color: #22212c;
  /* adds blur effect */
  /* box-shadow: 0 0 5px 10px #22212c; */
}

.container {
  display: flex;
  margin: 0;
}

.leftBox {
  padding: 2%;
  padding-top: 0;
  width: 50%;
}

.rightBox {
  padding: 2%;
  padding-top: 0;
  width: 50%;
}

@media (max-width: 900px) {
  .container {
    display: block;
  }

  .leftBox {
    width: 100%;
  }
  .rightBox {
    width: 100%;
  }
}
