body {
  background: #22212c;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.typingEffect {
  font-size: 5rem;
  padding-left: 2%;
  padding-bottom: 2%;
}

/* padding-right: 25%;
  width: 50%;
  float: left; */

/* .bigName {
  font-size: 8rem;
} */

.heart {
  color: #ff80bf;
  font-size: 1.25rem;
  position: relative;
  top: 0.1em;
}

@media (max-width: 900px) {
  .typingEffect {
    font-size: 4rem;
  }
}
