body {
  margin: 0 auto;
  background: #22212c;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2.5%;
}

.typingEffect1 {
  color: #f8f8f2;
  min-height: 1vw;
  font-size: clamp(1.15rem, 0.5096rem + 2.8462vw, 3rem);
  padding-left: 2%;
  padding-bottom: 2%;
}

.typingEffect2 {
  color: #f8f8f2;
  min-height: 1vw;
  font-size: clamp(0.74rem, 0.3904rem + 1.5538vw, 1.75rem);
  padding-left: 2%;
  padding-bottom: 2%;
}

.heart {
  color: #ff80bf;
  font-size: 1.25rem;
  position: relative;
  top: 0.1em;
}

.appBox {
  max-width: 1400px;
  min-width: 360px;
}
