body {
  background: #22212c;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.typingEffect1 {
  font-size: 4rem;
  padding-left: 2%;
  padding-bottom: 2%;
}

.typingEffect2 {
  font-size: 3.5rem;
  padding-left: 2%;
  padding-bottom: 2%;
}

.heart {
  color: #ff80bf;
  font-size: 1.25rem;
  position: relative;
  top: 0.1em;
}

@media (max-width: 780px) {
  .typingEffect1 {
    font-size: 2.4rem;
  }
  .typingEffect2 {
    font-size: 1.5rem;
  }
}
