body {
  background: #22212c;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}

.typingEffect1 {
  font-size: 6.5rem;
  padding-left: 2%;
  padding-bottom: 2%;
}

.typingEffect2 {
  font-size: 4rem;
  padding-left: 2%;
  padding-bottom: 2%;
}

.heart {
  color: #ff80bf;
  font-size: 1.25rem;
  position: relative;
  top: 0.1em;
}

.appBox {
  max-width: 1400px;
  min-width: 360px;
  margin: auto;
}

.typingEffect1 {
  font-size: clamp(2.3rem, 0.5rem + 8vw, 6.5rem);
}

.typingEffect2 {
  font-size: clamp(1.5rem, 0.4286rem + 4.7619vw, 4rem);
}
