a {
  display: inline-block;
}

body {
  margin: 0 auto;
  background: #21222c;
  max-width: 980px;
  min-width: 360px;
}

/* Altering dracula UI standard button to remove
the hover shadow, specify a size, and add an animation when hovered. */

@supports (-webkit-touch-callout: none) {
  button {
    width: 150px;
  }
}

@supports not (-webkit-touch-callout: none) {
  button {
    width: 150px;
    box-shadow: none !important;
    opacity: 1 !important;
    transition: all 0.25s;
    transform-origin: 50% 50%;
  }

  button:hover {
    transform: scale(1.075);
  }
}

svg {
  fill: #9580ff;
  transition: all 0.25s;
  transform-origin: 50% 50%;
}

svg:hover {
  transform: scale(1.2);
}
