body {
  background: #22212c;
}

.footer {
  display: block;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2.5%;
}

.typingEffect1 {
  color: #8aff80;
  /* -webkit-marquee-increment: 0vw; */
  font-size: clamp(1.15rem, 0.4231rem + 3.2308vw, 3.25rem);
  padding-left: 2%;
  padding-bottom: 2%;
}

.typingEffect2 {
  color: #f8f8f2;
  /* -webkit-marquee-increment: 0vw; */
  font-size: clamp(0.74rem, 0.3038rem + 1.9385vw, 2rem);
  padding-left: 2%;
  padding-bottom: 2%;
}

.heart {
  color: #ff80bf;
  font-size: 1.25rem;
  position: relative;
  top: 0.1em;
}

.appBox {
  max-width: 1400px;
  min-width: 360px;
  margin: auto;
}
