.socialBox {
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  padding: 2%;
}

.gitHub {
  /* filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%); */
  /* filter: invert(68%) sepia(13%) saturate(4315%) hue-rotate(315deg)
    brightness(118%) contrast(103%); */
  filter: invert(100%) sepia(65%) saturate(590%) hue-rotate(297deg)
    brightness(109%) contrast(95%);

  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.linkedIn {
  /* filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%); */
  /* filter: invert(68%) sepia(13%) saturate(4315%) hue-rotate(315deg)
    brightness(118%) contrast(103%); */
  filter: invert(100%) sepia(65%) saturate(590%) hue-rotate(297deg)
    brightness(109%) contrast(95%);

  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.twitter {
  margin-left: 20px;
  margin-right: 20px;
  /* filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%); */
  /* filter: invert(68%) sepia(13%) saturate(4315%) hue-rotate(315deg)
    brightness(118%) contrast(103%); */
  filter: invert(100%) sepia(65%) saturate(590%) hue-rotate(297deg)
    brightness(109%) contrast(95%);

  flex-shrink: 0;
  height: 35px;
  width: 35px;
}
