.socialBox {
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  padding: 2%;
}

.gitHub {
  filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%);

  flex-shrink: 0;
}

.linkedIn {
  filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%);

  flex-shrink: 0;
}

.twitter {
  padding-left: 20px;
  padding-right: 20px;
  filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%);

  flex-shrink: 0;
}
