.socialBox {
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  padding: 2%;
}

.socialIcons {
  filter: invert(63%) sepia(77%) saturate(594%) hue-rotate(291deg)
    brightness(104%) contrast(101%);

  padding: 10px;
  flex-shrink: 0;
}
