.socialBox {
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
  display: flex;
  padding: 2%;
}

.gitHub {
  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.linkedIn {
  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.twitter {
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  height: 35px;
  width: 35px;
}
